{% load static i18n %}

<footer class="footer" id="footer">
    <div class="container-fluid container-relative">

    </div>
    <div class="copyright">
        <div class="container-fluid container-relative">
            <div class="row align-items-center">
                <div class="col-md-6">
                                <span class="value">© Copyright
                                    <span class="update-year">  {% now "Y" %} </span>
                                    Fibra MTY - Diseñado y generado por <a href="https://www.irdesign.mx">IRDesign.</a></span>
                </div>
                <div class="col-md-6 text-md-right">
                    <a class="value mr-3" href="{% url 'aviso-privacidad' %}">{% trans 'Aviso de privacidad' %}</a>
{#                    <a class="value mr-3" target="_blank"#}
{#                       href="https://denuncia.fibramty.com/">{% trans 'Denuncia anónima' %}</a>#}

                    <div id="top" class="top-link">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
