{% extends 'layauts/base.html' %}
{% load static %}
{% block content %}
    <section class="p-0">
        <div class="container-fluid">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row gx-5 bg-white">

                        <div class="col-md-6">
                            <div class="chart" style="width:100%;height: 400px" id="chart9"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="chart" style="width:100%;height: 400px" id="chart10"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="chart" style="width:100%;height: 400px" id="chart11"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block otherscripts %}
    <link rel="stylesheet" href="{% static 'css/amcharts.css' %}">
    <script src="{% static 'js/amCharts/amcharts.js'%}"></script>
    <script src="{% static 'js/amCharts/serial.min.js'%}"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var BARCHARTHOME = document.getElementById('barChartHome2');

        var chart9 = AmCharts.makeChart("chart9", {
            "titles": [
                {
                    "text": "Número de quejas y/o reclamaciones",
                    "size": 16,
                    "color": "#000000"
                },
                 {
                     "text": "Número de Casos.",
                     "size": 12
                 }
            ],
            "fontSize": 14,
            "type": "serial",
            "addClassNames": true,
            "theme": "none",
            "colors": ["#335739", "#335739"],
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },
            "dataProvider": [
                {
                "year": "2019",
                "percent": 17,
                },
                {
                "year": "2020",
                "percent": 25,
                },
                {
                "year": "2021",
                "percent": 4,
                },
                {
                "year": "2022",
                "percent": 23,
                }
            ],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left",
                "gridAlpha": 0,
                "labelsEnabled": false,
                "minimum": 0
            }],
            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:15px;'>[[value]]</span>",
                "fillAlphas": 1,
                "title": "Efectivo / Número de Casos",
                "type": "column",
                "valueField": "percent",
                "labelText": "[[value]]"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": .5,
                "tickLength": 0,
                "gridAlpha": 0
            },
            "export": {
                "enabled": true
            }
        });
        var chart10 = AmCharts.makeChart("chart10", {
            "titles": [
                {
                    "text": "Número de reclamaciones dentro de la industria",
                    "size": 16,
                    "color": "#000000"
                },
                 {
                     "text": "Número de reclamaciones Industria.",
                     "size": 12
                 }
            ],
            "fontSize": 14,
            "type": "serial",
            "addClassNames": true,
            "theme": "none",
            "colors": ["#8ADA96", "#335739"],
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },
            "dataProvider": [
                {
                "year": "2019",
                "percent": 2217,
                },
                {
                "year": "2020",
                "percent": 10696,
                },
                {
                "year": "2021",
                "percent": 4,
                },
                {
                "year": "2022",
                "percent": 23,
                }
            ],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left",
                "gridAlpha": 0,
                "labelsEnabled": false,
                "minimum": 0
            }],
            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:15px;'>[[value]]</span>",
                "fillAlphas": 1,
                "title": "Efectivo / Número de Casos",
                "type": "column",
                "valueField": "percent",
                "labelText": "[[value]]"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": .5,
                "tickLength": 0,
                "gridAlpha": 0
            },
            "export": {
                "enabled": true
            }
        });
        var chart11 = AmCharts.makeChart("chart11", {
            "titles": [
                {
                    "text": "Número de personas capacitadas con el código de ética y anticorrupción de la empresa",
                    "size": 16,
                    "color": "#000000"
                },
                 {
                     "text": "Personal certificado con el código de ética y corrupción.",
                     "size": 12
                 }
            ],
            "fontSize": 14,
            "type": "serial",
            "addClassNames": true,
            "theme": "none",
            "colors": ["#659F70", "#335739"],
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },
            "dataProvider": [
                {
                "year": "2019",
                "percent": 4748,
                },
                {
                "year": "2020",
                "percent": 5424,
                },
                {
                "year": "2021",
                "percent": 5447,
                },
                {
                "year": "2022",
                "percent": 5470,
                }
            ],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left",
                "gridAlpha": 0,
                "labelsEnabled": false,
                "minimum": 0
            }],
            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:15px;'>[[value]]</span>",
                "fillAlphas": 1,
                "title": "Efectivo / Número de Casos",
                "type": "column",
                "valueField": "percent",
                "labelText": "[[value]]"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": .5,
                "tickLength": 0,
                "gridAlpha": 0
            },
            "export": {
                "enabled": true
            }
        });

    });
    </script>
{% endblock %}