{% extends 'layauts/base.html' %}
{% load static %}
{% block content %}
    <section class="p-0">
        <div class="container-fluid">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row gx-5 bg-white">
                        <div class="col-md-6">
                            <div class="chart" style="width:100%;height: 400px" id="chart1"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="chart" style="width:100%;height: 400px" id="chart2"></div>
                        </div>
                        <div class="col-md-6">
                                <div class="chart" style="width:100%;height: 400px" id="chart3"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="chart" style="width:100%;height: 400px" id="chart4"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block otherscripts %}
    <link rel="stylesheet" href="{% static 'css/amcharts.css' %}">
    <script src="{% static 'js/amCharts/amcharts.js'%}"></script>
    <script src="{% static 'js/amCharts/serial.min.js'%}"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var BARCHARTHOME = document.getElementById('barChartHome2');

        var chart1 =  AmCharts.makeChart("chart1", {
            "titles": [
                {
                    "text": "Volumen de materiales utilizados, en toneladas y porcentajes",
                    "size": 16,
                    "color": "#000000"
                },
         {
             "text": "GRI 301-1",
             "size": 12
         }
            ],
            "type": "serial",
            "theme": "none",
            "colors":["#335739","#8ADA96"],
            "legend": {
                "horizontalGap": 10,
                "maxColumns": 2,
                "position": "bottom",
                "useGraphSettings": true,
                "markerSize": 10,
                "align": "center"
            },
            "dataProvider": [{
                "year": 2018,
                "renovable": 2.4,
                "no_renovable": 4.3,

            },{
                "year": 2019,
                "renovable": 4.4,
                "no_renovable": 2.5,

            }, {
                "year": 2020,
                "renovable": 1.8,
                "no_renovable": 3.5,
            }, {
                "year": 2021,
                "renovable": 2.8,
                "no_renovable": 4.5,

            }],
            "valueAxes": [{
                "stackType": "regular",
                "axisAlpha": 0.3,
                "gridAlpha": 0,
                "totalText" : "[[total]]"
            }],
            "graphs": [{
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]] ([[percents]]%)",
                "lineAlpha": 0.3,
                "title": "No renovables",
                "type": "column",
                "color": "#000000",
                "valueField": "no_renovable"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]] ([[percents]]%)",
                "lineAlpha": 0.3,
                "title": "Renovables",
                "type": "column",
                "color": "#000000",
                "valueField": "renovable"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0.3,
                "gridAlpha": 0,
                "position": "left"
            },
            "export": {
                "enabled": true
            }

        });
        var chart3 = AmCharts.makeChart("chart3", {
            "titles": [
                {
                    "text": "Porcentaje de productos y materiales de envasado recuperados",
                    "size": 16,
                    "color": "#000000"
                },{
                     "text": "GRI 301-3",
                     "size": 12
                 }
            ],
            "fontSize": 14,
            "type": "serial",
            "addClassNames": true,
            "theme": "none",
            "colors": ["#52915D", "#335739"],
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },
            {#"legend": {#}
            {#    "useGraphSettings": true,#}
            {#    "markerSize": 12,#}
            {#    "valueWidth": 0,#}
            {#    "verticalGap": 0,#}
            {#    "align": "center"#}
            {# },#}
            "dataProvider": [{
                "year": "2018",
                "percent": 4.3,
            }, {
                "year": "2019",
                "percent": 2.5,
            }, {
                "year": "2020",
                "percent": 3.5,
            }, {
                "year": "2021",
                "percent": 4.5,
            }],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left",
                "gridAlpha": 0,
                "labelsEnabled": false,
                "minimum": 0
            }],
            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:15px;'>[[value]]%</span>",
                "fillAlphas": 1,
                "title": "Efectivo / Activos Totales",
                "type": "column",
                "valueField": "percent",
                "labelText": "[[value]]"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": .5,
                "tickLength": 0,
                "gridAlpha": 0
            },
            "export": {
                "enabled": true
            }
        });
        var chart2 = AmCharts.makeChart("chart2", {
            "titles": [
                {
                    "text": "Porcentaje de insumos reciclados",
                    "size": 16,
                    "color": "#000000"
                },
                 {
                     "text": "GRI 301-2",
                     "size": 12
                 }
            ],
            "fontSize": 14,
            "type": "serial",
            "addClassNames": true,
            "theme": "none",
            "colors": ["#659F70", "#335739"],
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },
            {#"legend": {#}
            {#    "useGraphSettings": true,#}
            {#    "markerSize": 12,#}
            {#    "valueWidth": 0,#}
            {#    "verticalGap": 0,#}
            {#    "align": "center"#}
            {# },#}
            "dataProvider": [{
                "year": "2018",
                "percent": 4.3,
            }, {
                "year": "2019",
                "percent": 2.5,
            }, {
                "year": "2020",
                "percent": 3.5,
            }, {
                "year": "2021",
                "percent": 4.5,
            }],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left",
                "gridAlpha": 0,
                "labelsEnabled": false,
                "minimum": 0
            }],
            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:15px;'>[[value]]%</span>",
                "fillAlphas": 1,
                "title": "Efectivo / Activos Totales",
                "type": "column",
                "valueField": "percent",
                "labelText": "[[value]]"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": .5,
                "tickLength": 0,
                "gridAlpha": 0
            },
            "export": {
                "enabled": true
            }
        });

    });
    </script>
{% endblock %}