{% extends 'layauts/base.html' %}
{% load static %}
{% block content %}
    <section class="p-0">
        <div class="container-fluid">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row gx-5 bg-white">
                        <div class="col-md-6 p-0 mb-4">
                            <div class="chart" style="width:100%;height: 400px" id="chart7"></div>
                        </div>
                        <div class="col-md-6 p-0 mb-4">
                            <div class="chart" style="width:100%;height: 400px" id="chart8"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block otherscripts %}
    <link rel="stylesheet" href="{% static 'css/amcharts.css' %}">
    <script src="{% static 'js/amCharts/amcharts.js'%}"></script>
    <script src="{% static 'js/amCharts/serial.min.js'%}"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var BARCHARTHOME = document.getElementById('barChartHome2');

        var chart7 = AmCharts.makeChart("chart7", {
            "titles": [
                {
                    "text": "Cantidad de materia inservible que es desechada",
                    "size": 16,
                    "color": "#000000"
                },
                 {
                     "text": "Reducción de Residuos.",
                     "size": 12
                 }
            ],
            "fontSize": 14,
            "type": "serial",
            "addClassNames": true,
            "theme": "none",
            "colors": ["#4D7E56", "#335739"],
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },
            "dataProvider": [
                {
                "year": "2019",
                "percent": 829000000,
                },
                {
                "year": "2020",
                "percent": 645000000,
                },
                {
                "year": "2021",
                "percent": 579000000,
                },
                {
                "year": "2022",
                "percent": 521100000
,
                }
            ],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left",
                "gridAlpha": 0,
                "labelsEnabled": false,
                "minimum": 0
            }],
            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:15px;'>[[value]]</span>",
                "fillAlphas": 1,
                "title": "Efectivo / Activos Totales",
                "type": "column",
                "valueField": "percent",
                "labelText": "[[value]]"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": .5,
                "tickLength": 0,
                "gridAlpha": 0
            },
            "export": {
                "enabled": true
            }
        });
        var chart8 = AmCharts.makeChart("chart8", {
            "titles": [
                {
                    "text": "Todo material que se puede transformar o volver a usar",
                    "size": 16,
                    "color": "#000000"
                },
                 {
                     "text": "Reciclaje.",
                     "size": 12
                 }
            ],
            "fontSize": 14,
            "type": "serial",
            "addClassNames": true,
            "theme": "none",
            "colors": ["#335739", "#335739"],
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },
            "dataProvider": [
                {
                "year": "2019",
                "percent": 31039,
                },
                {
                "year": "2020",
                "percent": 40435,
                },
                {
                "year": "2021",
                "percent": 49735,
                },
                {
                "year": "2022",
                "percent": 61174,
                }
            ],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left",
                "gridAlpha": 0,
                "labelsEnabled": false,
                "minimum": 0
            }],
            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:15px;'>[[value]]</span>",
                "fillAlphas": 1,
                "title": "Efectivo / Activos Totales",
                "type": "column",
                "valueField": "percent",
                "labelText": "[[value]]"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": .5,
                "tickLength": 0,
                "gridAlpha": 0
            },
            "export": {
                "enabled": true
            }
        });


    });
    </script>
{% endblock %}