{% extends 'layauts/base.html' %}
{% load static %}
{% block content %}
    <section class="p-0">
        <div class="container-fluid">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row gx-5 bg-white">
                        <div class="col-md-6">
                            <div class="chart" style="width:100%;height: 400px" id="chart19"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="chart" style="width:100%;height: 400px" id="chart20"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="chart" style="width:100%;height: 400px" id="chart21"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block otherscripts %}
    <link rel="stylesheet" href="{% static 'css/amcharts.css' %}">
    <script src="{% static 'js/amCharts/amcharts.js'%}"></script>
    <script src="{% static 'js/amCharts/serial.min.js'%}"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var BARCHARTHOME = document.getElementById('barChartHome2');

        var chart19 = AmCharts.makeChart("chart19", {
            "titles": [
                {
                    "text": "Número de accidentes o incidentes reportados",
                    "size": 16,
                    "color": "#000000"
                },
                 {
                     "text": "",
                     "size": 12
                 }
            ],
            "fontSize": 14,
            "type": "serial",
            "addClassNames": true,
            "theme": "none",
            "colors": ["#4D7E56", "#335739"],
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },
            "dataProvider": [
                {
                "year": "2019",
                "percent": 11,
                },
                {
                "year": "2020",
                "percent": 18,
                },
                {
                "year": "2021",
                "percent": 6,
                },
                {
                "year": "2022",
                "percent": 7,
                }
            ],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left",
                "gridAlpha": 0,
                "labelsEnabled": false,
                "minimum": 0
            }],
            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:15px;'>[[value]]</span>",
                "fillAlphas": 1,
                "title": "Efectivo / Número de Casos",
                "type": "column",
                "valueField": "percent",
                "labelText": "[[value]]"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": .5,
                "tickLength": 0,
                "gridAlpha": 0
            },
            "export": {
                "enabled": true
            }
        });
        var chart20 = AmCharts.makeChart("chart20", {
            "titles": [
                {
                    "text": "Días de ausencia de los colaboradores",
                    "size": 16,
                    "color": "#000000"
                },
                 {
                     "text": "",
                     "size": 12
                 }
            ],
            "fontSize": 14,
            "type": "serial",
            "addClassNames": true,
            "theme": "none",
            "colors": ["#52915D", "#335739"],
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },
            "dataProvider": [
                {
                "year": "2019",
                "percent": 11007,
                },
                {
                "year": "2020",
                "percent": 11239,
                },
                {
                "year": "2021",
                "percent": 11454,
                },
                {
                "year": "2022",
                "percent": 11537,
                }
            ],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left",
                "gridAlpha": 0,
                "labelsEnabled": false,
                "minimum": 0
            }],
            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:15px;'>[[value]]</span>",
                "fillAlphas": 1,
                "title": "Efectivo / Número de Casos",
                "type": "column",
                "valueField": "percent",
                "labelText": "[[value]]"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": .5,
                "tickLength": 0,
                "gridAlpha": 0
            },
            "export": {
                "enabled": true
            }
        });
        var chart21 = AmCharts.makeChart("chart21", {
            "titles": [
                {
                    "text": "Importe invertido por ausencias",
                    "size": 16,
                    "color": "#000000"
                },
                 {
                     "text": "",
                     "size": 12
                 }
            ],
            "fontSize": 14,
            "type": "serial",
            "addClassNames": true,
            "theme": "none",
            "colors": ["#335739", "#335739"],
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },
            "dataProvider": [
                {
                "year": "2019",
                "percent": 8939995,
                },
                {
                "year": "2020",
                "percent": 9128468,
                },
                {
                "year": "2021",
                "percent": 6704626,
                },
                {
                "year": "2022",
                "percent": 6753182,
                }
            ],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left",
                "gridAlpha": 0,
                "labelsEnabled": false,
                "minimum": 0
            }],
            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:15px;'>[[value]]</span>",
                "fillAlphas": 1,
                "title": "Efectivo / Número de Casos",
                "type": "column",
                "valueField": "percent",
                "labelText": "[[value]]"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": .5,
                "tickLength": 0,
                "gridAlpha": 0
            },
            "export": {
                "enabled": true
            }
        });

    });
    </script>
{% endblock %}