{% extends 'layauts/base_responsive.html' %}
{% load static %}
{% block content %}
<section class="p-0">
    <div class="container-fluid">
        <div class="card mb-0">
            <div class="card-body">
                <div class="row gx-5 bg-white">
                    <div class="col-md-12 mb-6">
                        <div class="chart" style="width:100%;height: 400px" id="chart5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block otherscripts %}
<link rel="stylesheet" href="{% static 'css/amcharts.css' %}">
<script src="{% static 'js/amCharts/amcharts.js'%}"></script>
<script src="{% static 'js/amCharts/serial.min.js'%}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var BARCHARTHOME = document.getElementById('barChartHome2');

        var chart5 = AmCharts.makeChart("chart5", {
            "titles": [
                {
                    "text": "Desglose de costos.",
                    "size": 16,
                    "color": "#000000"
                },
                 {
                     "text": "Puede conectarse al valor económico distribuido a los respectivas cadenas de suministro.",
                     "size": 12
                 }
            ],
            "addClassNames": true,
            "colors": ["#66BAEB", "#035C96", '#9EA3A3', '#ffffff'],
            "type": "serial",
            "theme": "none",
            "legend": {
                "horizontalGap": 10,
                "maxColumns": 1,
                "position": "bottom",
                "useGraphSettings": true,
                "markerSize": 10
            },
            "dataProvider": [
                {
                    "year": 2019,
                    "concesiones": 2651016,
                    "construccion": 2630345,
                    "materiales": 281151,
                    "total":  5562512,
                },
                {
                    "year": 2020,
                    "concesiones": 2946745,
                    "construccion": 1617095,
                    "materiales": 225237,
                    "total":  4789077,
                },
                {
                    "year": 2021,
                    "concesiones": 3685295,
                    "construccion": 1493365,
                    "materiales": 400664,
                    "total":  5579324,
                },
                {
                    "year": 2022,
                    "concesiones": 4128631,
                    "construccion": 776621,
                    "materiales": 421863,
                    "total":  5327116,
                }
            ],
            "valueAxes": [{
                "stackType": "regular",
                "axisAlpha": 0.3,
                "gridAlpha": 0
            }],
            "graphs": [
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]",
                    "lineAlpha": 0.3,
                    "title": "Concesiones",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "concesiones"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]",
                    "lineAlpha": 0.3,
                    "title": "Construcción",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "construccion"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]",
                    "lineAlpha": 0.3,
                    "title": "Materiales",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "materiales"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]",
                    "lineAlpha": 0.3,
                    "title": "Total",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "total"
                }
            ],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            }

        });
    });
</script>
{% endblock %}