{% extends 'layauts/base_responsive.html' %}
{% load static %}
{% block content %}
<div class="p-0">
    <div class="container-fluid">
        <div class="card mb-0">
            <div class="card-body">
                <div class="row gx-5 bg-white">
                    <div class="col-md-12 mb-6">
                        <div class="chart" style="width:100%;height: 400px" id="chart5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block otherscripts %}
<link rel="stylesheet" href="{% static 'css/amcharts.css' %}">
<script src="{% static 'js/amCharts/amcharts.js'%}"></script>
<script src="{% static 'js/amCharts/serial.min.js'%}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var BARCHARTHOME = document.getElementById('barChartHome2');

        var chart5 = AmCharts.makeChart("chart5", {
            "type": "serial",
            "addClassNames": true,
            "theme": "none",
            "colors": ["#66BAEB", "#035C96", '#9EA3A3', '#ffffff'],
            "legend": {
                "horizontalGap": 10,
                "maxColumns": 1,
                "position": "bottom",
                "useGraphSettings": true,
                "markerSize": 10
            },
            "dataProvider": [
                {
                    "year": 2019,
                    "concesiones":  8614630,
                    "construccion":  3028920,
                    "materiales":  406375,
                    "total":   12049925,
                },
                {
                    "year": 2020,
                    "concesiones":  8047316,
                    "construccion":  1543888,
                    "materiales":  341839,
                    "total":   9933043,
                },
                {
                    "year": 2021,
                    "concesiones":  10146572,
                    "construccion":  1697148,
                    "materiales":  576148,
                    "total":   12419868,
                },
                {
                    "year": 2022,
                    "concesiones":  10468115,
                    "construccion":  758213,
                    "materiales":  611227,
                    "total":   11837555,
                }
            ],
            "valueAxes": [{
                "stackType": "regular",
                "axisAlpha": 0.3,
                "gridAlpha": 0
            }],
            "graphs": [
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]",
                    "lineAlpha": 0.3,
                    "title": "Concesiones",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "concesiones"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]",
                    "lineAlpha": 0.3,
                    "title": "Construcción",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "construccion"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]",
                    "lineAlpha": 0.3,
                    "title": "Materiales",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "materiales"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]",
                    "lineAlpha": 0.3,
                    "title": "Total",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "total"
                }
            ],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            }

        });
    });
</script>
{% endblock %}