{% extends 'layauts/base_responsive.html' %}
{% load static %}
{% block content %}
<section class="p-0">
    <div class="container-fluid">
        <div class="card mb-0">
            <div class="card-body">
                <div class="row gx-5 bg-white">
                    <div class="col-md-12 mb-6">
                                <div class="chart" style="width:100%;height: 400px" id="chart7"></div>
                    </div>
                    <div class="col-md-12 mb-6">
                                <div class="chart" style="width:100%;height: 400px" id="chart8"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block otherscripts %}
<link rel="stylesheet" href="{% static 'css/amcharts.css' %}">
<script src="{% static 'js/amCharts/amcharts.js'%}"></script>
<script src="{% static 'js/amCharts/serial.min.js'%}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var BARCHARTHOME = document.getElementById('barChartHome2');

        var chart7 = AmCharts.makeChart("chart7", {
            "titles": [
                {
                    "text": "Número de directivos relevantes.",
                    "size": 16,
                    "color": "#000000"
                },
                {
                    "text": "",
                    "size": 12
                }
            ],
            "fontSize": 14,
            "type": "serial",
            "addClassNames": true,
            "theme": "none",
            "colors": ["#66BAEB", "#035C96"],
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },
            "dataProvider": [
                {
                    "year": "2019",
                    "percent": 17,
                },
                {
                    "year": "2020",
                    "percent": 17,
                },
                {
                    "year": "2021",
                    "percent": 17,
                },
                {
                    "year": "2022",
                    "percent": 17,
                }
            ],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left",
                "gridAlpha": 0,
                "labelsEnabled": false,
                "minimum": 0
            }],
            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:15px;'>[[value]]</span>",
                "fillAlphas": 1,
                "title": "Efectivo / Activos Totales",
                "type": "column",
                "valueField": "percent",
                "labelText": "[[value]]"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": .5,
                "tickLength": 0,
                "gridAlpha": 0
            },
            "export": {
                "enabled": true
            }
        });

        var chart8 = AmCharts.makeChart("chart8", {
            "titles": [
                {
                    "text": "Porcentaje de hombres y mujeres.",
                    "size": 16,
                    "color": "#000000"
                },
                {
                    "text": "Número de directivos relevantes.",
                    "size": 12
                }
            ],
            "addClassNames": true,
            "colors": ["#66BAEB", "#035C96", '#9EA3A3', '#ffffff'],
            "type": "serial",
            "theme": "none",
            "legend": {
                "horizontalGap": 10,
                "maxColumns": 1,
                "position": "bottom",
                "useGraphSettings": true,
                "markerSize": 10
            },
            "dataProvider": [
                {
                    "year": 2019,
                    "hombres": 94,
                    "mujeres": 6
                },
                {
                    "year": 2020,
                    "hombres": 94,
                    "mujeres": 6
                },
                {
                    "year": 2021,
                    "hombres": 94,
                    "mujeres": 6
                },
                {
                    "year": 2022,
                    "hombres": 94,
                    "mujeres": 6
                }
            ],
            "valueAxes": [{
                "stackType": "regular",
                "axisAlpha": 0.3,
                "gridAlpha": 0
            }],
            "graphs": [
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Hombres",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "hombres"
                },
                {
                    "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]%</b></span>",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]%",
                    "lineAlpha": 0.3,
                    "title": "Mujeres",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "mujeres"
                }
            ],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            }

        });


    });
</script>
{% endblock %}